.cardProducto {
    background-color: #d2f8f6ea;
    border-radius: 10px;
    width: 20vw;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cardProducto img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.cardProducto h3{
    text-align: center;
}

.btn{
    margin-top: 1rem;
    width: 120px;
}

.cardOculta {
    opacity: 0.5;
}